body{
    background-color: hsl(223, 19%, 93%);
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.post, .comment{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 9px;
    background-color: white;
    padding: 1%;
    margin-bottom: 20px;
}
.postInfo{
    width: 100%;
    margin: 10px;
}
.counter{
    background-color: hsl(223, 19%, 93%);
    color: hsl(238, 40%, 52%);
    font-weight: 500;
    height: 70px;
    border-radius: 5px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.headInfo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.avatarInfo{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
}
input{
    width: 75%;
    height: 100px;
    margin: 10px;
    border-radius: 7px;
    border-color: rgb(227, 232, 232);
    border-style: solid;
}
.imgComment{
    width: 3%;
}
p{
    margin: 0;
}
img{
    width: 15%;
}
.rep{
    width: 40%;
    margin-right: 5px;
}
.reply{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
h4{
    font-size: 16px;
    font-weight: 400;
    color: hsl(222, 6%, 35%);
}

.delete{
    color: red;
    margin-right: 15px;
    cursor: pointer;
}
.edit{
    color: hsl(238, 40%, 52%);
    cursor: pointer;
}